.ARCADE/
.ICEauthority
.IntelliJIdea13/
.PyCharm30/
.RubyMine70/
.WebIde70/
.Xauthority
.Xilinx/
.aspell.en.prepl
.aspell.en.pws
.atom/
.aws/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cdsenv
.config/
.dbus/
.ddd/
.dia/
.digilent_dvctbl.txt
.dircolors
.eclipse/
.emacs.d/
.esd_auth
.pip/
git-lfs-2.3.4/
git-lfs-linux-amd64-2.3.4.tar.gz
.gimp-2.8/
.gitconfig
.gnome/
.gnome2/
.gnupg/
.gstreamer-0.10/
.ipython/
.java/
.jupyter/
.kde/
.kshrc
.libmgr
.libsel
.local/
.m2/
.macromedia/
.matlab/
.mozilla/
.mutt_certificates
.muttrc
.nedit/
.netbeans/
.nfs_server
.nv/
.oracle_jre_usage/
.pki/
.serverauth.10552
.serverauth.12859
.serverauth.1890
.serverauth.1894
.serverauth.2632
.simvisionrc
.sqlplus64_history
.ssh/
.swt/
.thumbnails/
.thunderbird/
.tooling/
.viminfo
.webclipse.properties
.webclipse/
COMP-INTRO/
COMP10120/
COMP14112/
COMP15111/
COMP16121/
COMP16212/
COMP18112/
COMP23111/
COMP23311Workspace/
COMP24111/
COMP25111/
Cadence/
Desktop/
Documents/
Downloads/
INTRO/
Pictures/
bin/
cs_html/
eclipse
folder
git/
gittest/
gnome-terminal-colors-solarized/
oradiag_mbaxamn2/
panic.log
placement
stendhal/
stendhal_Files/

*.gz

gitkraken/

\.gitkraken/

\.serverauth\.709

\.serverauth\.26283

COMP26120/ex9/Untitled Folder/

COMP26120/ex9/dict-hash\.o

COMP26120/ex9/hash
